@keyframes ldio-8pccwnec8z7 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-8pccwnec8z7 div {
    box-sizing: border-box !important
}

.ldio-8pccwnec8z7>div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #0a0a0a transparent #0a0a0a transparent;
    animation: ldio-8pccwnec8z7 1s linear infinite;
}

.ldio-8pccwnec8z7>div:nth-child(2),
.ldio-8pccwnec8z7>div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-8pccwnec8z7 1s linear infinite reverse;
}

.ldio-8pccwnec8z7>div:nth-child(2) {
    border-color: transparent #8c8c8c transparent #8c8c8c
}

.ldio-8pccwnec8z7>div:nth-child(3) {
    border-color: transparent
}

.ldio-8pccwnec8z7>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-8pccwnec8z7>div:nth-child(3) div:before,
.ldio-8pccwnec8z7>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #0a0a0a;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #0a0a0a;
}

.ldio-8pccwnec8z7>div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #0a0a0a;
}

.ldio-8pccwnec8z7>div:nth-child(4) {
    border-color: transparent;
}

.ldio-8pccwnec8z7>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-8pccwnec8z7>div:nth-child(4) div:before,
.ldio-8pccwnec8z7>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #8c8c8c;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #8c8c8c;
}

.ldio-8pccwnec8z7>div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #8c8c8c;
}

.loadingio-spinner-double-ring-9piz39ek53d {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-8pccwnec8z7 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-8pccwnec8z7 div {
    box-sizing: content-box;
}